header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 80px;
}

header img {
    width: 70%;
}

.menu {
    gap: 50px;
    display: flex;
}

.menu a {
    font-size: 18px;
    color: #7A1655;
    font-weight: 500;
    text-decoration: none;
}

.empty-button {
    border: none;
    cursor: pointer;
    background-color: #fff;
}